In [1]:
import numpy as np

In [2]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [4]:
# You can easily check that a newly created object is an ndarray, passing the new variable to the type() function.
type(a)

numpy.ndarray

In [10]:
# In order to know the associated dtype to the just created ndarray, you have to use the dtype attribute.
a.dtype

dtype('int64')

In [19]:
# The just-created array has one axis, and then its rank is 1, while its shape should be (3,1). To obtain
# these values from the corresponding array it is sufficient to use the ndim attribute for getting the axes, the
# size attribute to know the array length, and the shape attribute to get its shape.
print("Rank is :",a.ndim)
print("Size of array is:",a.size)
print("Shape of array is:",a.shape)

Rank is : 1
Size of array is: 3
Shape of array is: (3,)

In [ ]:
b = np.array([[1.3, 2.4],[0.3, 4.1]])

In [21]:
print("The dtype is: ",b.dtype)
print("Rank is :",b.ndim)
print("Size of array is:",b.size)
print("Shape of array is:",b.shape)

The dtype is:  float64
Rank is : 2
Size of array is: 4
Shape of array is: (2, 2)

In [26]:
# This array has rank 2, since it has two axis, each of length 2.
# Another important attribute is itemsize, which can be used with ndarray objects. It defines the size
# in bytes of each item in the array, and data is the buffer containing the actual elements of the array. This
# second attribute is still not generally used, since to access the data within the array you will use the indexing
# mechanism that you will see in the next sections.
print("Size in bytes of each item in array is: ",b.itemsize)
print("The buffer containing the array is: ",b.data)

Size in bytes of each item in array is:  8
The buffer containing the array is:  <memory at 0x71b3599a6740>

In [32]:
# Create an Array
# To create a new array you can follow different paths. The most common is the one you saw in the previous
# section through a list or sequence of lists as arguments to the array() function.
c = np.array([[1, 2, 3],[4, 5, 6]])

In [34]:
c

array([[1, 2, 3],
       [4, 5, 6]])

In [35]:
# The array() function in addition to the lists can accept even tuples and sequences of tuples.
d = np.array(((1, 2, 3),(4, 5, 6)))

In [36]:
d

array([[1, 2, 3],
       [4, 5, 6]])

In [37]:
# and also, even sequences of tuples and lists interconnected make no difference.
e = np.array([(1, 2, 3), [4, 5, 6], (7, 8, 9)])

In [38]:
e

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

Types of Data

In [39]:
g = np.array([['a', 'b'],['c', 'd']])
g

array([['a', 'b'],
       ['c', 'd']], dtype='<U1')

In [40]:
g.dtype

dtype('<U1')

In [41]:
g.dtype.name

'str32'

In [42]:
# Actually, you can explicitly define the dtype using the dtype option as argument of the function.
f = np.array([[1, 2, 3],[4, 5, 6]], dtype=complex)
f

array([[1.+0.j, 2.+0.j, 3.+0.j],
       [4.+0.j, 5.+0.j, 6.+0.j]])

Intrinsic Creation of an Array

In [44]:
# The zeros() function, for example, creates a full array of zeros with dimensions defined by the shape argument. For example, to create a two-dimensional array 3x3:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [45]:
# while the ones() function creates an array full of ones in a very similar way.
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [46]:
# By default, the two functions have created arrays with float64 data type. A feature that will be
# particularly useful is arange(). This function generates NumPy arrays with numerical sequences that
# respond to particular rules depending on the passed arguments. For example, if you want to generate a
# sequence of values between 0 and 10, you will be passed only one argument to the function, that is the value
# with which you want to end the sequence.
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [47]:
# It is also possible to generate a sequence of values with precise intervals between them. If the third
# argument of the arange() function is specified, this will represent the gap between a value and the next one
# in the sequence of values.
np.arange(0, 12, 3)

array([0, 3, 6, 9])

In [48]:
# In addition, this third argument can also be a float.
np.arange(0, 6, 0.6)

array([0. , 0.6, 1.2, 1.8, 2.4, 3. , 3.6, 4.2, 4.8, 5.4])

In [49]:
# But so far you have only created one-dimensional arrays. To generate two-dimensional arrays you can
# still continue to use the arange() function but combined with the reshape() function. This function divides
# a linear array in different parts in the manner specified by the shape argument.
np.arange(0, 12).reshape(3, 4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [50]:
# Another function very similar to arange() is linspace(). This function still takes as its first two
# arguments the initial and end values of the sequence, but the third argument, instead of specifying the
# distance between one element and the next, defines the number of elements into which we want the interval to be split.
np.linspace(0,10,5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [52]:
# Finally, another method to obtain arrays already containing values is to fill them with random values.
# This is possible using the random() function of the numpy.random module. This function will generate an
# array with many elements as specified in the argument.
np.random.random(3)

array([0.90633792, 0.26877268, 0.89593281])

Basic Operations

Arithmetic Operators

In [3]:
a = np.arange(4)

In [4]:
a

array([0, 1, 2, 3])

In [5]:
a+4

array([4, 5, 6, 7])

In [6]:
a*2

array([0, 2, 4, 6])

In NumPy, these operations are element-wise,
that is, the operators are applied only between corresponding elements, namely, that occupy the same
position, so that at the end as a result there will be a new array containing the results in the same location of
the operands

In [7]:
b = np.arange(4,8)

In [8]:
b

array([4, 5, 6, 7])

In [9]:
a+b

array([ 4,  6,  8, 10])

In [10]:
a-b

array([-4, -4, -4, -4])

In [11]:
a*b

array([ 0,  5, 12, 21])

Moreover, these operators are also available for functions, provided that the value returned is a NumPy
array. For example, you can multiply the array with the sine or the square root of the elements of the array b.

In [12]:
a * np.sin(b)

array([-0.        , -0.95892427, -0.558831  ,  1.9709598 ])

In [13]:
a * np.sqrt(b)

array([0.        , 2.23606798, 4.89897949, 7.93725393])

Moving on to the multidimensional case, even here the arithmetic operators continue to operate
element-wise.

In [14]:
A = np.arange(0, 9).reshape(3, 3)

In [15]:
A

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [16]:
B = np.ones((3, 3))

In [17]:
B

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [18]:
A * B

array([[0., 1., 2.],
       [3., 4., 5.],
       [6., 7., 8.]])

The Matrix Product

The choice of operating element-wise is a peculiar aspect of the NumPy library. In fact in many other tools
for data analysis, the * operator is understood as matrix product when it is applied to two matrices. Using
NumPy, this kind of product is instead indicated by the dot() function. This operation is not element-wise.

In [19]:
np.dot(A,B)

array([[ 3.,  3.,  3.],
       [12., 12., 12.],
       [21., 21., 21.]])

The result at each position is the sum of the products between each element of the corresponding
row of the first matrix with the corresponding element of the corresponding column of the second matrix.

An alternative way to write the matrix product is to see the dot() function as an object’s function of one
of the two matrices.

In [20]:
A.dot(B)

array([[ 3.,  3.,  3.],
       [12., 12., 12.],
       [21., 21., 21.]])

I want to add that since the matrix product is not a commutative operation, then the order of the
operands is important. Indeed A * B is not equal to B * A.

In [21]:
np.dot(B,A)

array([[ 9., 12., 15.],
       [ 9., 12., 15.],
       [ 9., 12., 15.]])

Increment and Decrement Operators

In [5]:
a = np.arange(4)

In [6]:
a

array([0, 1, 2, 3])

In [7]:
a += 1

In [8]:
a

array([1, 2, 3, 4])

In [10]:
a -= 1

In [11]:
a

array([0, 1, 2, 3])

Actually, there is no such operators in Python, since there are no operators ++ or ––. To increase or decrease
the values you have to use operators such as += or –=. These operators are not different from those that we
saw earlier, except that instead of creating a new array with the results, they will reassign the results to the
same array.

In [13]:
# array([0, 1, 2, 3])
a+=4

In [14]:
a

array([4, 5, 6, 7])

In [15]:
a *= 2

In [16]:
a

array([ 8, 10, 12, 14])

Universal Functions (ufunc)

A universal function, generally called ufunc, is a function operating of an array in an element-by-element
fashion. This means that it is a function that acts individually on each single element of the input array to
generate a corresponding result in a new output array. At the end, you will obtain an array of the same size of
the input.
There are many mathematical and trigonometric operations that meet this definition, for example, the
calculation of the square root with sqrt(), the logarithm with log(), or the sin with sin().

In [17]:
a = np.arange(1, 5)
a

array([1, 2, 3, 4])

In [18]:
np.sqrt(a)

array([1.        , 1.41421356, 1.73205081, 2.        ])

In [19]:
np.log(a)

array([0.        , 0.69314718, 1.09861229, 1.38629436])

In [20]:
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [21]:
np.tan(a)

array([ 1.55740772, -2.18503986, -0.14254654,  1.15782128])

In [22]:
np.cos(a)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

Aggregate Functions

Aggregate functions are those functions that perform an operation on a set of values, an array for example,
and produce a single result. Therefore, the sum of all the elements in an array is an aggregate function. Many
functions of this kind are implemented within the class ndarray.

In [23]:
a = np.array([3.3, 4.5, 1.2, 5.7, 0.3])

In [24]:
a.sum()

15.0

In [25]:
a.min()

0.3

In [26]:
a.max()

5.7

In [27]:
a.mean()

3.0

In [28]:
a.std()

2.0079840636817816

Indexing, Slicing, and Iterating

Indexing

Array indexing always refers to the use of square brackets (‘[ ]’) to index the elements of the array so that
it can then be referred individually for various uses such as extracting a value, selecting items, or even
assigning a new value.

In [30]:
a = np.arange(10, 16)
a

array([10, 11, 12, 13, 14, 15])

In [31]:
a[4]

14

In [32]:
a[-1]

15

In [33]:
a[-6]

10

To select multiple items at once, you can pass array of indexes within the square brackets.

In [34]:
a[[1, 3, 4]]

array([11, 13, 14])

In [35]:
A = np.arange(10, 19).reshape((3, 3))
A

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

So if you want to remove the element of the third column in the second row, you have to insert the
pair [1, 2].

In [36]:
A[1, 2]

15

Slicing


Slicing is the operation which allows you to extract portions of an array to generate new ones. Whereas
using the Python lists the arrays obtained by slicing are copies, in NumPy, arrays are views onto the same
underlying buffer.
Depending on the portion of the array that you want to extract (or view) you must make use of the slice
syntax; that is, you will use a sequence of numbers separated by colons (‘:’) within the square brackets.

If you want to extract a portion of the array, for example one that goes from the second to the sixth
element, then you have to insert the index of the starting element, that is 1, and the index of the final
element, that is 5, separated by ‘:’.

In [37]:
a = np.arange(10, 16)
a

array([10, 11, 12, 13, 14, 15])

In [38]:
a[1:5]

array([11, 12, 13, 14])

Now if you want to extract from the previous portion an item, skip a specific number of following items,
then extract the next, and skip again ..., you can use a third number that defines the gap in the sequence of
the elements between one element and the next one to take. For example, with a value of 2, the array will
take the elements in an alternating fashion.

In [39]:
a[1:5:2]

array([11, 13])

To better understand the slice syntax, you also should look at cases where you do not use explicit
numerical values. If you omit the first number, then implicitly NumPy interprets this number as 0 (i.e., the
initial element of the array); if you omit the second number, this will be interpreted as the maximum index
of the array; and if you omit the last number this will be interpreted as 1, and then all elements will be
considered without intervals.

In [41]:
a[::2]

array([10, 12, 14])

In [42]:
a[:5:2]

array([10, 12, 14])

In [43]:
a[:5:]

array([10, 11, 12, 13, 14])

As regards the case of two-dimensional array, the slicing syntax still applies, but it is separately defined
both for the rows and for the columns. For example if you want to extract only the first row:

In [44]:
A = np.arange(10, 19).reshape((3, 3))
A

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [45]:
A[0,:]

array([10, 11, 12])

As you can see in the second index, if you leave only the colon without defining any number, then you
will select all the columns. Instead, if you want to extract all the values of the first column, you have to write
the inverse.

In [46]:
A[:,0]

array([10, 13, 16])

Instead, if you want to extract a smaller matrix then you need to explicitly define all intervals with
indexes that define them.

In [47]:
A[0:2, 0:2]

array([[10, 11],
       [13, 14]])

If the indexes of the rows or columns to be extracted are not contiguous, you can specify an array of
indexes.

In [48]:
A[[0,2], 0:2]

array([[10, 11],
       [16, 17]])

Iterating an Array

In Python, the iteration of the items in an array is really very simple; you just need to use the for construct.

In [49]:
for element in a:
    print(element, end = ",")

10,11,12,13,14,15,

Of course, even here, moving to the two-dimensional case, you could think of applying the solution of
two nested loops with the for construct. The first loop will scan the rows of the array, and the second loop
will scan the columns. Actually, if you apply the for loop to a matrix, you will find out that it will always
perform a scan according to the first axis.

In [51]:
for row in A:
    print (row)

[10 11 12]
[13 14 15]
[16 17 18]

If you want to make an iteration element by element you may use the following construct, using the for
loop on A.flat.

In [52]:
for item in A.flat:
    print(item, end= ",")

10,11,12,13,14,15,16,17,18,

However, despite all this, NumPy offers us an alternative and more elegant solution than the for
loop. Generally, you need to apply an iteration to apply a function on the rows or on the columns or on an
individual item. If you want to launch an aggregate function that returns a value calculated for every single
column or on every single row, there is an optimal way to makes that it will be entirely NumPy to manage the
iteration: the apply_along_axis() function.
This function takes three arguments: the aggregate function, the axis on which to apply the iteration,
and finally the array. If the option axis equals 0, then the iteration evaluates the elements column by
column, whereas if the axis equals 1 then the iteration evaluates the elements row by row. For example, you
can calculate the average of the values for the first by column and then by row.

In [53]:
np.apply_along_axis(np.mean, axis=0, arr=A)

array([13., 14., 15.])

In [54]:
np.apply_along_axis(np.mean, axis=1, arr=A)

array([11., 14., 17.])

In the previous case, you used a function already defined within the NumPy library, but nothing
prevents you from defining functions on their own. You also used an aggregate function. However, nothing
forbids us from using an ufunc. In this case, using the iteration both by column and by row, the end result is
the same. In fact, using a ufunc is how to perform one iteration element-by-element.

In [55]:
def foo(x):
    return x/2

In [56]:
np.apply_along_axis(foo, axis=1, arr=A)

array([[5. , 5.5, 6. ],
       [6.5, 7. , 7.5],
       [8. , 8.5, 9. ]])

In [57]:
np.apply_along_axis(foo, axis=0, arr=A)

array([[5. , 5.5, 6. ],
       [6.5, 7. , 7.5],
       [8. , 8.5, 9. ]])

As you can see, the ufunc function halves the value of each element of the input array regardless of
whether the iteration is performed by row or by column.

Conditions and Boolean Arrays

In [3]:
A = np.random.random((4, 4))
A

array([[0.51032924, 0.0684477 , 0.71656995, 0.35405181],
       [0.18962551, 0.21846527, 0.53776077, 0.59268774],
       [0.32860937, 0.77005454, 0.98152283, 0.13050823],
       [0.6374999 , 0.97008015, 0.78033058, 0.50675872]])

Suppose you want to select all the values less than 0.5
in a 4x4 matrix containing random numbers between 0 and 1.
Once a matrix of random numbers is defined, if you apply an operator condition, that is, as we said the
operator greater, you will receive as a return value Boolean array containing True values in the positions in
which the condition is satisfied, that is, all the positions in which the values are less than 0.5.

In [4]:
A < 0.5

array([[False,  True, False,  True],
       [ True,  True, False, False],
       [ True, False, False,  True],
       [False, False, False, False]])

Actually, the Boolean arrays are used implicitly for making selections of parts of arrays. In fact, by
inserting the previous condition directly inside the square brackets, you will extract all elements smaller
than 0.5, so as to obtain a new array.

In [5]:
A[A < 0.5]

array([0.0684477 , 0.35405181, 0.18962551, 0.21846527, 0.32860937,
       0.13050823])

Shape Manipulation

You have already seen during the creation of a two-dimensional array how it is possible to convert a one-
dimensional array into a matrix, thanks to the reshape() function.

In [7]:
a = np.random.random(12)
a

array([0.6115242 , 0.99700754, 0.2641526 , 0.7042035 , 0.56735346,
       0.85683597, 0.28290172, 0.28711711, 0.35781228, 0.62673547,
       0.45210481, 0.62720134])

In [8]:
A = a.reshape(3, 4)
A

array([[0.6115242 , 0.99700754, 0.2641526 , 0.7042035 ],
       [0.56735346, 0.85683597, 0.28290172, 0.28711711],
       [0.35781228, 0.62673547, 0.45210481, 0.62720134]])

The reshape() function returns a new array and therefore it is useful to create new objects. However
if you want to modify the object by modifying the shape, you have to assign a tuple containing the new
dimensions directly to its shape attribute.

In [9]:
a.shape = (3, 4)
a

array([[0.6115242 , 0.99700754, 0.2641526 , 0.7042035 ],
       [0.56735346, 0.85683597, 0.28290172, 0.28711711],
       [0.35781228, 0.62673547, 0.45210481, 0.62720134]])

As you can see, this time it is the starting array to change shape and there is no object returned. The
inverse operation is possible, that is, to convert a two-dimensional array into a one-dimensional array,
through the ravel() function.

In [10]:
a = a.ravel()

In [11]:
a

array([0.6115242 , 0.99700754, 0.2641526 , 0.7042035 , 0.56735346,
       0.85683597, 0.28290172, 0.28711711, 0.35781228, 0.62673547,
       0.45210481, 0.62720134])

or even here acting directly on the shape attribute of the array itself.

In [12]:
a.shape = (12)
a

array([0.6115242 , 0.99700754, 0.2641526 , 0.7042035 , 0.56735346,
       0.85683597, 0.28290172, 0.28711711, 0.35781228, 0.62673547,
       0.45210481, 0.62720134])

Another important operation is the transposition of a matrix that is an inversion of the columns with
rows. NumPy provides this feature with the transpose() function.

In [13]:
A.transpose()

array([[0.6115242 , 0.56735346, 0.35781228],
       [0.99700754, 0.85683597, 0.62673547],
       [0.2641526 , 0.28290172, 0.45210481],
       [0.7042035 , 0.28711711, 0.62720134]])

Array Manipulation

Joining Arrays

You can merge multiple arrays together to form a new one that contains all of them. NumPy uses the concept
of stacking, providing a number of functions in this regard. For example, you can run the vertical stacking
with the vstack() function, which combines the second array as new rows of the first array. In this case you
have a growth of the array in the vertical direction. By contrast, the hstack() function performs horizontal
stacking; that is, the second array is added to the columns of the first array.

In [15]:
A = np.ones((3, 3))
B = np.zeros((3, 3))

In [18]:
np.vstack((A, B))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [19]:
np.hstack((A,B))

array([[1., 1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0.]])

Two other functions performing stacking between multiple arrays are column_stack() and
row_stack(). These functions operate differently than the two previous functions. Generally these functions
are used with one-dimensional arrays that are stacked as columns or rows in order to form a new two-
dimensional array.

In [20]:
a = np.array([0, 1, 2])
b = np.array([3, 4, 5])
c = np.array([6, 7, 8])
np.column_stack((a, b, c))

array([[0, 3, 6],
       [1, 4, 7],
       [2, 5, 8]])

In [21]:
np.row_stack((a, b, c))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

Splitting Arrays

First you saw how to assemble multiple arrays to each other through the operation of stacking. Now you will
see the opposite operation, that is, to divide an array into several parts. In NumPy, to do this you will use
splitting. Here too, you have a set of functions that work both horizontally with the hsplit() function and
vertically with the vsplit() function.

In [22]:
A = np.arange(16).reshape((4, 4))
A

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

Thus, if you want to split the array horizontally, meaning the width of the array divided into two parts,
the 4x4 matrix A will be split into two 2x4 matrices.

In [23]:
[B,C] = np.hsplit(A, 2)

In [24]:
B

array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]])

In [25]:
C

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]])

Instead, if you want to split the array vertically, meaning the height of the array divided into two parts,
the 4x4 matrix A will be split into two 4x2 matrices.

In [26]:
[B,C] = np.vsplit(A, 2)

In [27]:
B

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [28]:
C

array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])

A more complex command is the split() function, which allows you to split the array into
nonsymmetrical parts. In addition, passing the array as an argument, you have also to specify the indexes
of the parts to be divided. If you use the option axis = 1, then the indexes will be those of the columns; if
instead the option is axis = 0, then they will be the row indexes.
For example, if you want to divide the matrix into three parts, the first of which will include the first
column, the second will include the second and the third column, and the third will include the last column,
then you must specify three indexes in the following way.

In [29]:
[A1,A2,A3] = np.split(A,[1,3],axis=1)

In [30]:
A1

array([[ 0],
       [ 4],
       [ 8],
       [12]])

In [31]:
A2

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10],
       [13, 14]])

In [32]:
A3

array([[ 3],
       [ 7],
       [11],
       [15]])

You can do the same thing by row.

In [33]:
[A1,A2,A3] = np.split(A,[1,3],axis=0)

In [34]:
A1

array([[0, 1, 2, 3]])

In [35]:
A2

array([[ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [36]:
A3

array([[12, 13, 14, 15]])

This feature also includes the functionalities of the vsplit() and hsplit() functions.

General Concepts

Copies or Views of Objects

As you may have noticed with NumPy, especially when you are performing operations or manipulations on
the array, you can have as a return value either a copy or a view of the array. In NumPy, all assignments do
not produce copies of arrays, nor any element contained within them.

In [2]:
a = np.array([1, 2, 3, 4])
b = a
b

array([1, 2, 3, 4])

In [3]:
a[2] = 0
b

array([1, 2, 0, 4])

If you assign one array a to another array b, actually you are not doing a copy but b is just another way to
call array a. In fact, by changing the value of the third element you change the third value of b too. When you
perform the slicing of an array, actually the object returned is only a view of the original array.

In [4]:
c = a[0:2]
c

array([1, 2])

In [5]:
a[0] = 0
c

array([0, 2])

As you can see, even with the slicing, you are actually pointing to the same object. If you want to
generate a complete copy and distinct array you can use the copy() function.

In [6]:
a = np.array([1, 2, 3, 4])
c = a.copy()
c

array([1, 2, 3, 4])

In [7]:
a[0] = 0
c

array([1, 2, 3, 4])

In this case, even changing the items in array a, array c remains unchanged.

Vectorization

Vectorization is a concept that, along with the broadcasting, is the basis of the internal implementation of
NumPy. The vectorization is the absence of explicit loop during the developing of the code. These loops
actually cannot be omitted, but are implemented internally and then they are replaced by other constructs
in the code. The application of vectorization leads to a more concise and readable code, and you can say
that it will appear more “Pythonic” in its appearance. In fact, thanks to the vectorization, many operations
take on a more mathematical expression, for example NumPy allows you to express the multiplication of two
arrays as shown:

a * b
or even two matrices:
A * B

In other languages, such operations would be expressed with many nested loops with the for construct.
For example, the first operation would be expressed in the following way:

for (i = 0; i < rows; i++){
c[i] = a[i]*b[i];
}
While the product of matrices would be expressed as follows:
for( i=0; i < rows; i++){
for(j=0; j < columns; j++){
c[i][j] = a[i][j]*b[i][j];
}
}
From all this, it is clear that using NumPy the code is more readable and especially expressed in a more
mathematical way.

BROADCASTING

Broadcasting is the operation that allows an operator or a function to act on two or more arrays to operate
even if these arrays do not have exactly the same shape. Actually, not all the dimensions are compatible with
each other in order to be subjected to broadcasting but they must meet certain rules.

You saw that using NumPy, you can classify multidimensional arrays through the shape that is a tuple
representing the length of the elements for each dimension.
Thus, two arrays may be subjected to broadcasting when all their dimensions are compatible, i.e., the
length of each dimension must be equal between the two arrays or one of them must be equal to 1. If these
two conditions are not met, you get an exception given that the two arrays are not compatible.

In [8]:
A = np.arange(16).reshape(4, 4)
b = np.arange(4)

In [9]:
A

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [10]:
b

array([0, 1, 2, 3])

In this case, you obtain two arrays:
4 x 4
4
The rules of broadcasting are two. The first rule is to add a 1 to each missing dimension. If the
compatibility rules are now satisfied you can apply the broadcasting and move to the second rule.
4 x 4
4 x 1
The rule of compatibility is met. Then you can move on to the second rule of broadcasting. This rule
explains how to extend the size of the smallest array so that it takes on the same size of the biggest, so that
then the element-wise function or operator is applicable.

Now that the two arrays have the same dimensions, the values inside may be added together.

In [11]:
A + b

array([[ 0,  2,  4,  6],
       [ 4,  6,  8, 10],
       [ 8, 10, 12, 14],
       [12, 14, 16, 18]])

In this case you are in a simple case in which one of the two arrays is smaller than the other. There may
be more complex cases in which the two arrays have different shapes but each of them is smaller than the
other only for some dimensions.

In [12]:
m = np.arange(6).reshape(3, 1, 2)
n = np.arange(6).reshape(3, 2, 1)
m

array([[[0, 1]],

       [[2, 3]],

       [[4, 5]]])

In [13]:
n

array([[[0],
        [1]],

       [[2],
        [3]],

       [[4],
        [5]]])

Even in this case, by analyzing the shapes of the two arrays, you can see that they are compatible and
therefore the rules of broadcasting can be applied.
3 x 1 x 2
3 x 2 x 1
In this case both undergo the extension of dimensions (broadcasting).

m* = [[[0,1],
[0,1]],
[[2,3],
[2,3]],
[[4,5],
[4,5]]]


n* = [[[0,0],
[1,1]],
[[2,2],
[3,3]],
[[4,4],
[5,5]]]

And then you can apply, for example, the addition operator between the two arrays, operating
element-wise.

In [14]:
m + n

array([[[ 0,  1],
        [ 1,  2]],

       [[ 4,  5],
        [ 5,  6]],

       [[ 8,  9],
        [ 9, 10]]])

Structured Arrays

So far in the various examples in previous sections, you saw monodimensional and two-dimensional arrays.
Actually, NumPy provides the possibility of creating arrays that are much more complex not only in size,
but in the structure itself, called precisely structured arrays. This type of array contains structs or records
instead of the individual items.
For example, you can create a simple array of structs as items. Thanks to the dtype option, you can
specify a list of comma-separated specifiers to indicate the elements that will constitute the struct, along
with its data type and order.
    
bytes                 b1
int                   i1, i2, i4, i8
unsigned ints         u1, u2, u4, u8
floats                f2, f4, f8
complex               c8, c16
fixed length strings  a<n>

For example, if you want to specify a struct consisting of an integer, a character string of length 6 and
a Boolean value, you will specify the three types of data in the dtype option with the right order using the
corresponding specifiers.

In [2]:
structured = np.array([(1, 'First', 0.5, 1+2j),(2, 'Second', 1.3, 2-2j),(3, 'Third', 0.8, 1+3j)],dtype=('i2, a6, f4, c8'))

In [3]:
structured

array([(1, b'First', 0.5, 1.+2.j), (2, b'Second', 1.3, 2.-2.j),
       (3, b'Third', 0.8, 1.+3.j)],
      dtype=[('f0', '<i2'), ('f1', 'S6'), ('f2', '<f4'), ('f3', '<c8')])

You may also use the data type explicitly specifying int8, uint8, float16, complex64, and so forth.

In [5]:
structured = np.array([(1, 'First', 0.5, 1+2j),(2, 'Second', 1.3,2-2j),
(3, 'Third', 0.8, 1+3j)],dtype=('int16, a6, float32, complex64'))

In [6]:
structured

array([(1, b'First', 0.5, 1.+2.j), (2, b'Second', 1.3, 2.-2.j),
       (3, b'Third', 0.8, 1.+3.j)],
      dtype=[('f0', '<i2'), ('f1', 'S6'), ('f2', '<f4'), ('f3', '<c8')])

However, both cases have the same result. Inside the array you see a dtype sequence containing the
name of each item of the struct with the corresponding type of data.
Writing the appropriate reference index, you obtain the corresponding row which contains the struct.

In [7]:
structured[1]

(2, b'Second', 1.3, 2.-2.j)

The names that are assigned automatically to each item of struct can be considered as the names of
the columns of the array, and then using them as a structured index, you can refer to all the elements of the
same type, or of the same ‘column’.

In [8]:
structured['f1']

array([b'First', b'Second', b'Third'], dtype='|S6')

As you have just seen, the names are assigned automatically with an f (which stands for field) and a
progressive integer that indicates the position in the sequence. In fact, it would be more useful to specify the
names with something more meaningful. This is possible and you can do it at the time of the declaration of
the array:

In [10]:
structured = np.array([(1,'First',0.5,1+2j),(2,'Second',1.3,2-2j),(3,'Third',0.8,1+3j)],
dtype=[('id','i2'),('position','a6'),('value','f4'),('complex','c8')])

In [11]:
structured

array([(1, b'First', 0.5, 1.+2.j), (2, b'Second', 1.3, 2.-2.j),
       (3, b'Third', 0.8, 1.+3.j)],
      dtype=[('id', '<i2'), ('position', 'S6'), ('value', '<f4'), ('complex', '<c8')])

or at a later time, redefining the tuples of names assigned to the dtype attribute of the structured array.

In [12]:
structured.dtype.names = ('id','order','value','complex')

Now you can use meaningful names for the various types of fields:

In [13]:
structured['order']

array([b'First', b'Second', b'Third'], dtype='|S6')